{% extends "index.html" %}
    {% load static %}
       {% block titre %}
        <title>
             Plan tarifaire Uriel Bot
        </title>
        {% endblock %}

     {% block baniere %}
         <div class="page-title-area">
        <div class="container">
            <div class="page-title-content">
                <h2>Notre Grille de prix</h2>
                <ul>
                    <li><a href="{% url 'index' %}">Accueil</a></li>
                    <li>Tarif</li>
                </ul>
            </div>
        </div>

        <div class="lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="shape3"><img src="{%static 'assets/img/shape/1.svg'%}" alt="image"></div>
    </div>
      {% endblock %}
            {% block central %}
                <!-- Start Pricing Area -->
    <section class="pricing-area ptb-110">
        <div class="container">
            <div class="tab pricing-tab">
                <ul class="tabs">
                    <li><a href="#">
                        Mensuel
                    </a></li>
                    
                    <li><a href="#">
                        Annuel
                    </a></li>
                </ul>

                <div class="tab-content">
                    <div class="tabs-item">
                        <div class="row">
                            
                                                           <div class="col-lg-4 col-md-6 col-sm-6">
                                                               <div class="single-pricing-box">
                                    <div class="pricing-header">
                                        <h3>Gratuit</h3>
                                        <p><div>Découvrer l'environnement attractif et hiérachisé du logiciel Uriel Bot.</div></p>
                                    </div>
                                    <div class="price">
                                        $ 0<span> / m</span> &nbsp;  
                                    </div>
                                    <div class="buy-btn">
										                                            <a href="boutique/checktar.html" class="btn btn-primary">Démarrer gratuitement</a>
                                        										
                                     </div>
                                    <ul class="pricing-features">
                                                                                <li><i class='bx bx-check'></i> 1 Compte Facebook</li>
                                                                                <li><i class='bx bx-check'></i> 1 page Facebook</li>
                                                                                <li><i class='bx bx-check'></i> Planification de post</li>
                                                                                <li><i class='bx bx-check'></i> 2 chatbots possibles</li>
                                                                                <li><i class='bx bx-check'></i> 10 messages</li>
                                                                                <li><i class='bx bx-check'></i> 75% des fonctionnalités</li>
                                                                                <li><i class='bx bx-check'></i> Abonnés illimités</li>
                                                                                <li><i class='bx bx-check'></i> Modèles de démarrage rapide de base</li>
                                                                                <li><i class='bx bx-check'></i> Segmentation de l'audience en 3 balises</li>
                                                                                <li><i class='bx bx-check'></i> Génération de flux disponible</li>
                                                                                <li><i class='bx bx-check'></i> Widgets Web</li>
                                                                                <li><i class='bx bx-check'></i> Campagne diffusion 1000 personnes</li>
                                                                                <li><i class='bx bx-check'></i> Comparateurs de sites web</li>
                                                                                <li><i class='bx bx-check'></i> Commentaires automatisées</li>
                                                                            </ul>
                                </div>
                                                                </div>
                                                           <div class="col-lg-4 col-md-6 col-sm-6">
                                                               <div class="single-pricing-box">
                                    <div class="pricing-header">
                                        <h3>Pro</h3>
                                        <p><div>Profitez du logiciel Uriel Bot à 75% de ses capacités.</div></p>
                                    </div>
                                    <div class="price">
                                        $ 89<span> / m</span> &nbsp;  
                                    </div>
                                    <div class="buy-btn">
										                                            <a href="boutique/checktar-2.html" class="btn btn-primary">Obtenir un Accès</a>
                                        										
                                     </div>
                                    <ul class="pricing-features">
                                                                                <li><i class='bx bx-check'></i> 2 Comptes Facebook</li>
                                                                                <li><i class='bx bx-check'></i> 10 pages Facebook</li>
                                                                                <li><i class='bx bx-check'></i> Planification de posts</li>
                                                                                <li><i class='bx bx-check'></i> 10 chatbots possibles</li>
                                                                                <li><i class='bx bx-check'></i> 50.000 messages</li>
                                                                                <li><i class='bx bx-check'></i> 75% des fonctionnalités</li>
                                                                                <li><i class='bx bx-check'></i> Modèles de demarrage rapide évolué</li>
                                                                                <li><i class='bx bx-check'></i> Ségmentation de l'audience en 5000 balises</li>
                                                                                <li><i class='bx bx-check'></i> Collectez les données des abonnés (e-mail, numéro de téléphone, etc.)</li>
                                                                                <li><i class='bx bx-check'></i> Campagne diffusion 100.000 personnes</li>
                                                                                <li><i class='bx bx-check'></i> Connectez Uriel Bot aux publicités Facebook</li>
                                                                                <li><i class='bx bx-check'></i> Génération bulle Messenger</li>
                                                                            </ul>
                                </div>
                                                                </div>
                                                           <div class="col-lg-4 col-md-6 col-sm-6">
                                                               <div class="single-pricing-box">
                                    <div class="pricing-header">
                                        <h3>Premium</h3>
                                        <p><div>Savourez l'expérience ultime du logiciel et faîtes bien plus qu'aucun logiciel au monde.</div></p>
                                    </div>
                                    <div class="price">
                                        $ 123<span> / m</span> &nbsp;  
                                    </div>
                                    <div class="buy-btn">
										                                            <a href="boutique/checktar-3.html" class="btn btn-primary">Obtenir un Accès</a>
                                        										
                                     </div>
                                    <ul class="pricing-features">
                                                                                <li><i class='bx bx-check'></i> Comptes Facebook illimité</li>
                                                                                <li><i class='bx bx-check'></i> Pages Facebook illimitées</li>
                                                                                <li><i class='bx bx-check'></i> Planification de posts illimitées</li>
                                                                                <li><i class='bx bx-check'></i> Chatbots illimités</li>
                                                                                <li><i class='bx bx-check'></i> Messages illimités</li>
                                                                                <li><i class='bx bx-check'></i> 100% des fonctionnalités</li>
                                                                                <li><i class='bx bx-check'></i> Modèles de demarrage rapide évolué</li>
                                                                                <li><i class='bx bx-check'></i> Ségmentation de l'audience balises illimitées</li>
                                                                                <li><i class='bx bx-check'></i> Collectez les données des abonnés (e-mail, numéro de téléphone, etc.)</li>
                                                                                <li><i class='bx bx-check'></i> Campagne diffusion Illimitée</li>
                                                                                <li><i class='bx bx-check'></i> Connectez Uriel Bot aux publicités Facebook</li>
                                                                                <li><i class='bx bx-check'></i> Génération bulle Messenger</li>
                                                                            </ul>
                                </div>
                                                                </div>
                                                           <div class="col-lg-4 col-md-6 col-sm-6">
                                                               </div>
                                                           <div class="col-lg-4 col-md-6 col-sm-6">
                                                               </div>
                                                           <div class="col-lg-4 col-md-6 col-sm-6">
                                                               </div>
                                                         
                        </div>
                    </div>

                    <div class="tabs-item">
                        <div class="row">
                                                           <div class="col-lg-4 col-md-6 col-sm-6">
                                                               </div>
                                                           <div class="col-lg-4 col-md-6 col-sm-6">
                                                               </div>
                                                           <div class="col-lg-4 col-md-6 col-sm-6">
                                                               </div>
                                                           <div class="col-lg-4 col-md-6 col-sm-6">
                                                               <div class="single-pricing-box">
                                    <div class="pricing-header">
                                        <h3>Gratuit</h3>
                                        <p><div>Découvrer l'environnement attractif et hiérachisé du logiciel Uriel Bot.</div></p>
                                    </div>
                                    <div class="price">
                                        $ 0 <span> / y</span> &nbsp;  
                                    </div>
                                    <div class="buy-btn">
									                                                <a href="boutique/checktar-4.html" class="btn btn-primary">Démarrer gratuitement</a>
                                        										
                                     </div>
                                    <ul class="pricing-features">
                                                                                <li><i class='bx bx-check'></i> 1 Compte Facebook</li>
                                                                                <li><i class='bx bx-check'></i> 1 page Facebook</li>
                                                                                <li><i class='bx bx-check'></i> Planification de post</li>
                                                                                <li><i class='bx bx-check'></i> 2 chatbots possibles</li>
                                                                                <li><i class='bx bx-check'></i> 10 messages</li>
                                                                                <li><i class='bx bx-check'></i> 75% des fonctionnalités</li>
                                                                                <li><i class='bx bx-check'></i> Abonnés illimités</li>
                                                                                <li><i class='bx bx-check'></i> Modèles de démarrage rapide de base</li>
                                                                                <li><i class='bx bx-check'></i> Segmentation de l'audience en 3 balises</li>
                                                                                <li><i class='bx bx-check'></i> Génération de flux disponible</li>
                                                                                <li><i class='bx bx-check'></i> Widgets Web</li>
                                                                                <li><i class='bx bx-check'></i> Campagne diffusion 1000 personnes</li>
                                                                                <li><i class='bx bx-check'></i> Comparateurs de sites web</li>
                                                                                <li><i class='bx bx-check'></i> Commentaires automatisées</li>
                                                                            </ul>
                                </div>
                                                                </div>
                                                           <div class="col-lg-4 col-md-6 col-sm-6">
                                                               <div class="single-pricing-box">
                                    <div class="pricing-header">
                                        <h3>Pro</h3>
                                        <p><div>Profitez du logiciel Uriel Bot à 75% de ses capacités.</div></p>
                                    </div>
                                    <div class="price">
                                        $ 474 <span> / y</span> &nbsp;  
                                    </div>
                                    <div class="buy-btn">
									                                                <a href="boutique/checktar-5.html" class="btn btn-primary">Obtenir un Accès</a>
                                        										
                                     </div>
                                    <ul class="pricing-features">
                                                                                <li><i class='bx bx-check'></i> 2 Comptes Facebook</li>
                                                                                <li><i class='bx bx-check'></i> 10 pages Facebook</li>
                                                                                <li><i class='bx bx-check'></i> Planification de posts</li>
                                                                                <li><i class='bx bx-check'></i> 10 chatbots possibles</li>
                                                                                <li><i class='bx bx-check'></i> 50.000 messages</li>
                                                                                <li><i class='bx bx-check'></i> 75% des fonctionnalités</li>
                                                                                <li><i class='bx bx-check'></i> Modèles de demarrage rapide évolué</li>
                                                                                <li><i class='bx bx-check'></i> Ségmentation de l'audience en 5000 balises</li>
                                                                                <li><i class='bx bx-check'></i> Collectez les données des abonnés (e-mail, numéro de téléphone, etc.)</li>
                                                                                <li><i class='bx bx-check'></i> Campagne diffusion 100.000 personnes</li>
                                                                                <li><i class='bx bx-check'></i> Connectez Uriel Bot aux publicités Facebook</li>
                                                                                <li><i class='bx bx-check'></i> Génération bulle Messenger</li>
                                                                            </ul>
                                </div>
                                                                </div>
                                                           <div class="col-lg-4 col-md-6 col-sm-6">
                                                               <div class="single-pricing-box">
                                    <div class="pricing-header">
                                        <h3>Premium</h3>
                                        <p><div>Savourez l'expérience ultime du logiciel et faîtes bien plus qu'aucun logiciel au monde.</div></p>
                                    </div>
                                    <div class="price">
                                        $ 1080 <span> / y</span> &nbsp;  
                                    </div>
                                    <div class="buy-btn">
									                                                <a href="boutique/checktar-6.html" class="btn btn-primary">Obtenir un Accès</a>
                                        										
                                     </div>
                                    <ul class="pricing-features">
                                                                                <li><i class='bx bx-check'></i> Comptes Facebook illimité</li>
                                                                                <li><i class='bx bx-check'></i> Pages Facebook illimitées</li>
                                                                                <li><i class='bx bx-check'></i> Planification de posts illimitées</li>
                                                                                <li><i class='bx bx-check'></i> Chatbots illimités</li>
                                                                                <li><i class='bx bx-check'></i> Messages illimités</li>
                                                                                <li><i class='bx bx-check'></i> 100% des fonctionnalités</li>
                                                                                <li><i class='bx bx-check'></i> Modèles de demarrage rapide évolué</li>
                                                                                <li><i class='bx bx-check'></i> Ségmentation de l'audience balises illimitées</li>
                                                                                <li><i class='bx bx-check'></i> Collectez les données des abonnés (e-mail, numéro de téléphone, etc.)</li>
                                                                                <li><i class='bx bx-check'></i> Campagne diffusion Illimitée</li>
                                                                                <li><i class='bx bx-check'></i> Connectez uSocialBot™ aux publicités Facebook</li>
                                                                                <li><i class='bx bx-check'></i> Génération bulle Messenger</li>
                                                                            </ul>
                                </div>
                                                                </div>
                                                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Pricing Area -->


{% endblock %}
 <footer class="footer-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="single-footer-widget">
                                    <div class="logo">
                                        <a href="#"></a>
                                        <p>Créer un compte et obtenez un accès sur le logiciel marketing Tout-en-Un le puis puissant du mode </p>
                                    </div>

                                    <ul class="social">
                                        <li><a href="#" target="_blank"><i class="flaticon-facebook-letter-logo"></i></a></li>
                                        <!-- <li><a href="#" target="_blank"><i class="flaticon-twitter-black-shape"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="flaticon-instagram-logo"></i></a></li> -->
                                        <li><a href="#" target="_blank"><i class="flaticon-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="single-footer-widget">
                                    <h3>Services </h3>

                                    <ul class="footer-services-list">
                                        <li>Auto-Répondeur Facebook</li>
                                        <li>Chatbot Messenger</li>
                                        <li>Marketing SMS</li>
                                        <li>Boutique Messenger</li>
                                        <li>Outils de recherche</li>
                                        <li>Campagne Messenger</li>
                                        <li>Auto-Répondeur email</li>
                                        <li>Formulaire Messenger</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="single-footer-widget">
                                    <h3>Liens rapides</h3>

                                    <ul class="quick-links-list">
                                        <li><a href="{% url 'about' %}">A propos</a></li>
                                        <li><a href="{% url 'contact' %}">Contact</a></li>
                                        <li><a href="#">Notre Equipe</a></li>

                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="single-footer-widget">
                                    <h3>Contacts</h3>

                                    <ul class="footer-contact-list">
                                        <li><span>Adresse principale:</span> Yaounde, Cameroun</li>
                                        <li><p><span>Telephone: </span>+237 694783092 </p></li>
                                        <li><span>Email:</span> <a href="mailto: Akamabil@gmail.com "> Akamabil@gmail.com </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="copyright-area">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <p>Copyright 2020 <a href="#">Akamasoft</a>. Tous droits reservés.</p>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <ul>

                                        <li><a href="#">Politique de confidentialité</a></li>
                                        <li><a href="#">Terms & Conditions</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="circle-map"><img src="{%static 'assets/img/circle-map.png'%}" alt="image"></div>
                </footer>
            <!-- End Footer Area -->
            <div class="go-top"><i class="fas fa-arrow-up"></i><i class="fas fa-arrow-up"></i></div>


        <script src="{%static 'assets/js/jquery.min.js'%}"></script>
            <!-- Popper Min JS -->


            <script src="{%static 'assets/js/popper.min.js'%}"></script>
            <!-- Bootstrap Min JS -->
            <script src="{%static 'assets/js/bootstrap.min.js'%}"></script>
            <!-- Owl Carousel Min JS -->
            <script src="{%static 'assets/js/owl.carousel.min.js'%}"></script>
            <!-- Parallax Min JS -->
            <script src="{%static 'assets/js/parallax.min.js'%}"></script>
            <!-- Magnific Popup Min JS -->
            <script src="{%static 'assets/js/jquery.magnific-popup.min.js'%}"></script>
            <!-- Nice Select Min JS -->
            <script src="{%static 'assets/js/jquery.nice-select.min.js'%}"></script>
            <!-- Mean Menu JS -->
            <script src="{%static 'assets/js/jquery.meanmenu.js'%}"></script>
            <!-- Progress Circle Min JS -->
            <script src="{%static 'assets/js/progresscircle.min.js'%}"></script>
            <!-- WOW Min JS -->
            <script src="{%static 'assets/js/wow.min.js'%}"></script>
            <!-- Form Validator Min JS -->
            <script src="{%static 'assets/js/form-validator.min.js'%}"></script>
            <!-- Contact Form Min JS -->
            <script src="{%static 'assets/js/contact-form-script.js'%}"></script>
            <script src="{%static 'assets/js/sweet-alert.min.js'%}"></script>
            <!-- Main JS -->
            <script src="{%static 'assets/js/core.js'%}"></script>
            <script src="{%static 'assets/js/main.js'%}"></script>