{% extends "services/index.html" %}
    {% load static %}
       {% block titre %}
        <title>
            Nous Contacter
        </title>
        {% endblock %}

     {% block baniere %}
         <div class="page-title-area">
        <div class="container">
            <div class="page-title-content">
                <h2>Contactez nous !</h2>
                <ul>
                    <li><a href="{% url 'index' %}">Accueil</a></li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>

        <div class="lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="shape3"><img src="{%static 'assets/img/shape/1.svg'%}" alt="image"></div>
    </div>
      {% endblock %}

     {% block central %}
         <!-- Start Contact Area -->
<section class="contact-area ptb-110">
    <div class="container">
        <div class="section-title">
            <span>Nous écrire</span>
            <h2>N'hésitez pas, laissez nous un message</h2>
            <p>Pour toute information concernant le logiciel ou toute autre service, veuillez nous laissez un message, nous répondons dans les minutes qui suivent.</p>
        </div>



        {% if sauvegarde %}<div class="alert alert-danger">Votre message a bien été envoyé, nous vous recontactons dans les plus bref delai !</div>{% endif %}
<div class="contact-form">
         <form action="{% url 'contact_sendMail' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="name" id="id_name" class="form-control" required data-error="Please enter your name" placeholder="Nom">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input type="email" name="mail" id="id_mail" class="form-control" required data-error="Please enter your email" placeholder="Email">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="phone" id="id_phone" required data-error="Please enter your number" class="form-control" placeholder="Contact">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="objet" id="id_objet" class="form-control" required data-error="Please enter your subject" placeholder="Objet">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <textarea name="message" class="form-control" id="id_message" cols="30" rows="5" required data-error="Write your message" placeholder="Ecrire Message ici"></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                         <button  type="submit" class="btn btn-primary" id="addFAQID">Envoyer le Message</button>
                        <div type="submit" class="h3 text-center hidden"></div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </form>
        </div>

        <div class="contact-info">
            <div class="contact-info-content">
                <h3>Vous pouvez nous joindre à ces adresses</h3>
                <h2>
                   <a href="mailto: Akamabil@gmail.com "> Akamabil@gmail.com </a>
                     <p><span>Address: </span>+237 694783092 </p>
                </h2>


            </div>
        </div>
    </div>
</section>
    {% endblock %}


            <!-- End Footer Area -->
            <div class="go-top"><i class="fas fa-arrow-up"></i><i class="fas fa-arrow-up"></i></div>


        <script src="{%static 'assets/js/jquery.min.js'%}"></script>
            <!-- Popper Min JS -->


            <script src="{%static 'assets/js/popper.min.js'%}"></script>
            <!-- Bootstrap Min JS -->
            <script src="{%static 'assets/js/bootstrap.min.js'%}"></script>
            <!-- Owl Carousel Min JS -->
            <script src="{%static 'assets/js/owl.carousel.min.js'%}"></script>
            <!-- Parallax Min JS -->
            <script src="{%static 'assets/js/parallax.min.js'%}"></script>
            <!-- Magnific Popup Min JS -->
            <script src="{%static 'assets/js/jquery.magnific-popup.min.js'%}"></script>
            <!-- Nice Select Min JS -->
            <script src="{%static 'assets/js/jquery.nice-select.min.js'%}"></script>
            <!-- Mean Menu JS -->
            <script src="{%static 'assets/js/jquery.meanmenu.js'%}"></script>
            <!-- Progress Circle Min JS -->
            <script src="{%static 'assets/js/progresscircle.min.js'%}"></script>
            <!-- WOW Min JS -->
            <script src="{%static 'assets/js/wow.min.js'%}"></script>
            <!-- Form Validator Min JS -->
            <script src="{%static 'assets/js/form-validator.min.js'%}"></script>
            <!-- Contact Form Min JS -->
            <script src="{%static 'assets/js/contact-form-script.js'%}"></script>
            <script src="{%static 'assets/js/sweet-alert.min.js'%}"></script>
            <!-- Main JS -->
            <script src="{%static 'assets/js/core.js'%}"></script>
            <script src="{%static 'assets/js/main.js'%}"></script>