<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Uriel Bot</title>
</head>
<body>
   <div class="container">
       <center><strong> Bienvenue sur Uriel Bot </strong></center>

       <p><center> Le message adressé à notre service a bien été
           Pris en compte Nous repondrons dans les plus bref délai.</center><br><br>
          <center>
       <small style="padding-top:20px;">Ce message a été envoyé à : <d color:#0062cc;>{{email}}</d>
                  <br>Si vous ne voulez plus recevoir ces e-mails à l’avenir, veuillez  Cliquez  en bas .
              </small>
          </center>
       </p>
        <center >
            <a href="http://www.bekeymarkets.cm/register/unsubscribe/?csrfmiddlewaretoken=F3qsUMszRWG86fNub7oJdAprSg0W7V4ba0sJkiGLrMAlTkQQ8nT1aWSheXrso9xD&email={{email}}" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"
                style="display:inline-block; width:auto; height:100%; padding:7px 20px 6px 20px; font-size:16px; font-weight:bold; font-family:'Open Sans',Arial,Helvetica,sans-serif; color:#FFFFFF; line-height:1.54; background:#0062cc; border:1px solid #0062cc; text-decoration:none; text-transform:uppercase; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px">
                Désabonnez Vous !
            </a>
        </center>
       </p>
   </div>
</body>
</html>